body {
	background-color: #224066;
}

#hero{
	width: 250px;
	height: 350px;
	position: relative;
	left: 200px;
	top: 200px;
}

@keyframes hero-stance {
	from {
		top: 0;
	}

	to {
		top: -15px;
	}
}

#hero .stance {
	visibility: hidden;
	background-image: url(hero.png);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	animation-name: hero-stance;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

}

#hero .attack {
	visibility: hidden;
	background-image: url(jump.png);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;

}
#hero.idle .stance{
	visibility: visible;
}


#hero.attack .attack{
	visibility: visible;
	top: -30px;
}

@keyframes shadow{
	from {
		width: 250px;
	}
	to {
		width: 225px;
		left: 12.5px;
	}
}

#hero .shadow{
	background-image: url(shadow.png);
	width:250px;
	height: 84px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom:-50px;
	z-index: 1;
	animation-name: shadow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#hero.attack .shadow {
	animation-name: none;
	width: 225px;
	left: 12.5px;
}

#hero .text{
	font-size: 55px;
	font-weight: thin;
	color: white;
	width: 300pc;
	position: absolute;
	left: 115%;
	top: -10px;
}

@keyframes laser {
	from {
		width: 175px;

	}
	to{
		width: 525px;
	}
}


#hero .laser{
background-image: url(beam.png);
	width: 130px;
	height: 80px;
	position: absolute;
	left: 145px;
	top:10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: laser;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;

}

#hero .laser::after {
	content: " ";
	width: 4px;
	height: 100%;
	right: 0;
	top:1px;
	background-color: #ffe500;
	position: absolute;
	border-radius: 3px;
	box-shadow: 0 0 10px 3px #ffe500;

}
